body, html {
  font-family: Arial, sans-serif;
  background-color:white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; /* Permite que la imagen de fondo se desplace con el contenido */
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* Imagen de fondo 1 */
.bg-1 {
  background-image: url('https://jdelafuentec.github.io/web/lagunaMirador_Panorama-1paralaxsi.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

/* Imagen de fondo 2 */
.bg-2 {
  background-image: url('https://jdelafuentec.github.io/web/laGallina.jpg'); /* Cambia esta URL */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

/* Imagen de fondo 3 */
.bg-3 {
  background-image: url('https://jdelafuentec.github.io/web/transectoSal.jpg'); /* Cambia esta URL */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}
/* Imagen de fondo 3 */
.bg-4 {
  background-image: url('https://jdelafuentec.github.io/web/transecto6_Panorama_part1.jpg'); /* Cambia esta URL */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}
/* Imagen de fondo 3 */
.bg-5 {
  background-image: url('https://jdelafuentec.github.io/web/bofedalInter.jpg'); /* Cambia esta URL */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
}

/* Contenido de la página */
.content {
  min-height: 10500px; /* Altura mínima para que la página sea lo suficientemente larga para probar el desplazamiento */
  background-color: none;
}

/* Fondo blanco para la sección */
.index-container {
  background-color: white;
  width: 80%;
  height: 100vh; /* Alcanza toda la altura de la ventana */
  
  padding: 0; /* Sin padding */
  margin: 0 auto !important;
  
}

.index-container-arriba {
  background-color: white;
  width: 80%;
  margin: 0 auto !important;
  /* Alineamos el título a la izquierda */
  padding: 0 !important;
  
}



.index-container-abajo {
  background-color: white;
  width: 80%;
  margin: 0 auto !important;
  padding: 0 !important ;
  margin-top: 0; /* Asegura que no haya margen adicional en la parte inferior */
}

/* Contenedor del cuadrado dividido en 5 */
.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas de igual tamaño */
  grid-gap: 10px; /* Espacio entre las imágenes */

  height: 70%; /* Altura del cuadrado */
  
}

/* Cada imagen del cuadrado que actúa como botón */
.image-item {
  height: 100%;
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%); /* Poner las imágenes en blanco y negro por defecto */
  transition: filter 0.3s ease; /* Transición suave para el cambio de color */
  cursor: pointer; /* Cambia el cursor a un puntero para que parezca un botón */
}

/* Fondo de la imagen 1 */
.bg-11 {
  background-image: url('https://jdelafuentec.github.io/web/lagunaMirador_Panorama-1paralaxsi.jpg');
}

/* Fondo de la imagen 2 */
.bg-22 {
  background-image: url('https://jdelafuentec.github.io/web/laGallina.jpg');
}

/* Fondo de la imagen 3 */
.bg-33 {
  background-image: url('https://jdelafuentec.github.io/web/transectoSal.jpg');
}

/* Fondo de la imagen 4 */
.bg-44 {
  background-image: url('https://jdelafuentec.github.io/web/transecto6_Panorama_part1.jpg');
}

/* Fondo de la imagen 5 */
.bg-55 {
  background-image: url('https://jdelafuentec.github.io/web/bofedalInter.jpg');
}

/* Efecto al pasar el mouse (se ponen a color) */
.image-item:hover {
  filter: grayscale(0%); /* Elimina el filtro de blanco y negro */
}

/* Título principal */
.titulo h1 {
  text-align: left;
  font-size: 2rem; /* Ajusta el tamaño del título */
  margin: 0;
  padding-left: 0px; /* Añadir espacio a la izquierda */
  padding-top: 10%;
}

titulo p {
  text-align: left;
  font-size: 0.8rem; /* Ajusta el tamaño del título */
  margin: 0;
  padding-left: 0px; /* Añadir espacio a la izquierda */
  padding-top: 10%;
}

/* Sección de bajada (texto debajo del grid de imágenes) */
.bajada {
  text-align: right;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.bajada h3 {
  font-size: 0.5rem;
  color: #333;
  margin-right: 0px; /* Alinea el texto a la derecha */
}
