ody, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 15500px !important;
}

/* Imagen de fondo y otros estilos */
body {
  background-size: 100% auto; /* Ajusta la imagen al ancho de la ventana */
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%; /* Altura total de la imagen */
}
